
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable"
        width="100%" cellspacing="0">
        <thead>
            <tr>
                <td>ID</td>
                <th>Name</th>
                <th>username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Address</th>
                <th>Ban_Status</th>
                <th>Ban User</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Address</th>
                <th>Ban_Status</th>
                <th>Ban User</th>
            </tr>
        </tfoot>
        <tbody>
            {{#each data}}
            <tr>
                <td id="id">{{id}}</td>
                <td id="name">{{name}}</td>
                <td id="username">{{username}}</td>
                <td id="email">{{email}}</td>
                <td id="phone">{{phone}}</td>
                <td id="admin">{{admin}}</td>
                <td id="address">{{address}}</td>
                <td id="ban">{{is_activated}}</td>
                <td>
                    <button class="btn btn-dark w-100"
                        onclick="Ban({{id}})">Ban</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    function Ban(id){
       console.log(id)

      // Make an AJAX request to the server to check availability
      $.ajax({
        type: 'GET',  
        url: '/admin/ban',  // Replace with the actual server-side script
        data: { id: id },
        success: function(response) {
            console.log(response)
          // Update the availability status based on the server response
          $('#ban').html(response);
        }
      });
    }
</script>