
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable"
        width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Stock Status</th>
                <th>Lock Product</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Stock Status</th>
                <th>Lock Product</th>
            </tr>
        </tfoot>
        <tbody>
            {{#each data}}
            <tr>
                <td id="id">{{id}}</td>
                <td id="name">{{name}}</td>
                <td id="description">{{description}}</td>
                <td id="price">{{price}}</td>
                <td id="quantity">{{quantity}}</td>
                <td id="category">{{category_id}}</td>
                <td id="ban">{{is_deleted}}</td>
                <td>
                    <button class="btn btn-dark w-100"
                        onclick="Stock({{id}})">Lock</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
     function Stock(id){
       //var id = document.getElementById("id").textContent;
       console.log(id)

      // Make an AJAX request to the server to check availability
      $.ajax({
        type: 'GET',  
        url: '/admin/lock_product',  // Replace with the actual server-side script
        data: { id: id },
        success: function(response) {
            console.log("Lock status" + response)
          // Update the availability status based on the server response
          $('#ban').html(response);
        }
      });
    }
</script>
